.body {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 20vh 1fr 15vh;
  font-family: var(--font-quicksand);
}

.header {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: #008080;
  color: #e8e8e8;
}

.h1 {
  margin-left: 3.2rem;
  font-family: var(--font-tasa);
  font-weight: 500;
  font-size: 3rem;
}

.h2 {
  margin-left: 17rem;
  font-weight: 500;
  font-family: var(--font-tasa);
  font-size: 1.6rem;
}

.sidebar {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: #ababab;
  color: rgb(255, 255, 255);
  padding: 0.8rem;
}

.h3 {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  margin: 1.6rem auto;
}

.h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.navcol {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0 2rem 2rem;
  gap: 0.4rem;
}

.main {
  grid-row: 2/3;
  grid-column: 2/-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

.card {
  background-color: #3c7a7a7a;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  padding: 0.8rem;
  border-radius: 1rem;
  width: 28rem;
  color: #ffffff;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
}

.img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
}

.staffdetails {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8rem;
}

.staffname {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: #008080;
  color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
}
