.body {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 15vh 70vh 15vh;
}

.header {
  grid-row: 1/2;
  grid-column: 1/-1;
  background-color: aquamarine;
}

.main {
  grid-row: 2/3;
  grid-column: 2/-1;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: lightsalmon;
}

.footer {
  grid-row: 3/4;
  grid-column: 1/-1;
  background-color: skyblue;
}

.card {
  background-color: whitesmoke;
}
